#root {
  height: 100vh;
}
.App {
  height: calc(100% - 60px);
  padding: 30px 0;
}
.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
}
input[type="text"] {
  border: 2px solid #CCC;
  padding: 10px 15px;
  border-radius: 5px;
  min-width: 300px;
} 
/*********************  Binary Tree *********************/

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.tree > .node::before {
  display: none;
}

.node {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.node .value {
  margin: 0;
  font-weight: bold;
}

.node::before {
  content: '';
  position: absolute;
  border-left: 1px dashed black;
  top: -55px;
  height: 70px;
}
.left > .node::before {
  left: calc(50% + 40px);
  rotate: 45deg;
}
.right > .node::before {
  left: calc(50% - 40px);
  rotate: -45deg;
}

.node > .left, .node > .right {
  position: absolute;
  top: calc(100% + 10px);
}

.node > .left {
  left: calc(100% - 180px);
}

.node > .right {
  right: calc(100% - 180px);
}


@media screen and (max-width: 768px) {
  .tree {
    flex-direction: column;
  }

  .node::before {
    content: none;
  }

  .node .left {
    position: relative;
    top: auto;
    left: auto;
  }

  .node .right {
    position: relative;
    top: auto;
    left: auto;
  }
}

